---
// Initialize Dependency Injection Container
import { registerAllDependencies } from '../dependency-injection/registerAllDependencies.js';
await registerAllDependencies();

// Fetch videos from the API route
import { GET } from './api/videos/index.ts';
import type { GetUploadedVideoResponse } from './api/videos/dtos/GetUploadedVideoResponse';

let response = await GET(Astro);
const { videos } =
	(await response.json()) as GetUploadedVideoResponse;
console.log('Fetched videos:', videos);

// ----------------------------
// Layout
import Layout from '../layouts/Layout.astro';

// UI Components
import VideoUploadForm from '../components/ui/VideoUploadForm';
---

<Layout>
	<div>
		<h2>Videos</h2>
		<ul>
			{
				videos.map((video) => (
					<li style="margin-bottom: 2rem;">
						<video
							width="480"
							controls
							preload="metadata"
						>
							<source
								src={video.url}
								type="video/mp4"
							/>
							Your browser does not support the video
							tag.
						</video>
						<p>{video.name}</p>
					</li>
				))
			}
		</ul>
	</div>

	<!-- Form to upload a video -->
	<VideoUploadForm client:load />
</Layout>
