---
// Initialize Dependency Injection Container
import { registerAllDependencies } from '../dependency-injection/registerAllDependencies.js';
await registerAllDependencies();

// Fetch videos from the API route
import { GET } from './api/videos/index.ts';
import type { GetUploadedVideoResponse } from './api/videos/dtos/GetUploadedVideoResponse';

let response = await GET(Astro);
const { videos } =
	(await response.json()) as GetUploadedVideoResponse;
console.log('Fetched videos:', videos);

// ----------------------------
// Layout
import Layout from '../layouts/Layout.astro';

// UI Components
import VideoUploadForm from '../components/ui/VideoUploadForm';
import VideoCard from '../components/ui/VideoCard.astro';
---

<Layout>
	<div>
		<h2>Videos</h2>
		<div>
			{
				videos.map((video) => (
					<VideoCard url={video.url} name={video.name} />
				))
			}
		</div>
	</div>

	<!-- Form to upload a video -->
	<VideoUploadForm client:load />
</Layout>

<style>
	
</style>