---
// Initialize Dependency Injection Container
import { registerAllDependencies } from '../dependency-injection/registerAllDependencies.js';
await registerAllDependencies();

// Fetch videos from the API route
import { GET } from './api/videos/index.ts';
import type { GetUploadedVideoResponse } from './api/videos/dtos/GetUploadedVideoResponse';

let response = await GET(Astro);
const { data } = (await response.json()) as GetUploadedVideoResponse;
const videos = data;
console.log('Fetched videos:', videos);

// ----------------------------
// Layout
import Layout from '../layouts/Layout.astro';

// UI Components
import VideoUploadForm from '../presentation/feature/VideoUploadForm.tsx';
import VideoCard from '../presentation/primitive/VideoCard.astro';
---

<Layout>
	<div>
		<h2>Videos</h2>
		<div class="flex gap-15">
			{
				videos.map((video) => (
					<a href={`/videos/${video.name}`}>
						<VideoCard
							url={video.url}
							name={video.name}
						/>
					</a>
				))
			}
		</div>
	</div>

	<!-- Form to upload a video -->
	<!-- <VideoUploadForm client:load /> -->
</Layout>
