---
const { url, name, controls, width = 480 } = Astro.props;
console.log('Video url is: ', url);
---

<div>
    <video width={width} preload="metadata" controls={controls}>
        <source src={url} type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    <p>{name}</p>
</div>
