---
const { url, name, controls } = Astro.props;
---

<div>
    <video width="480" preload="metadata" controls={controls}>
        <source src={url} type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    <p>{name}</p>
</div>
